@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
nav {
    -webkit-box-shadow: 0px -2px 12px 0px rgba(0,0,0,0.33); 
    box-shadow: 0px -2px 12px 0px rgba(0,0,0,0.33);
    z-index: 100;
}

.first-row{
    background-color: rgba(225, 241, 255, 0.353);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 90px;
}

.first-row-text {
    padding:20px;
}

.first-row-text h1{
    font-weight: 600;
    font-size: 50px;
    color:#0c5783;
}
.explanation{
    margin-top: 30px;
}
.second-row {
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 60px;
}
.forth-row{
    height:250px;
    margin: 0;
    margin-bottom: 30px;
}
.forth-row-content{
    height:250px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.back-btn {
    border:none;
    outline: none;
    background-color: #0c5783;
    color: rgb(255, 255, 255);
    padding: 18px 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: opacity 0.9;
    transition: 0.3s;
    margin-top: 30px;
}

.back-btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
}
@media screen and (min-width:250px) and (max-width:500px){
    .second-row,.third-row{
        width: 100%;
    }
    .second-row img{
        width:200px;
    }
}