@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*font family for all content in index page*/
*{
    font-family: 'Poppins', sans-serif;
}

nav {
    -webkit-box-shadow: 0px -2px 12px 0px rgba(0,0,0,0.33); 
    box-shadow: 0px -2px 12px 0px rgba(0,0,0,0.33);
    z-index: 100;
}

/*luminate title styling*/
.title {
    color: #0c5783;
    font-size: 80px;
    letter-spacing: 2px;
    margin-bottom: 48px;
    text-shadow: 
    4px 4px 0px #faf38c, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
}
/*lottie-player styling*/
.col-sm lottie-player{
    margin: auto;
}

/*First row right side conetnt styling*/
.banner-right{
    margin-top:80px;
}

/*Styling text message under title*/
.text-message {
    color: #9fb5cc;
    font-size: 1.1em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
}

/*Styling go to dashboard button*/
.dash-btn {
    border:none;
    outline: none;
    background-color: #0c5783;
    color: rgb(255, 255, 255);
    padding: 18px 32px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: opacity 0.9;
    transition: 0.3s;
}

.dash-btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/*Styling second row*/
.second-row{
    margin-top:100px;
    padding:80px;
    background-color: rgb(243, 243, 243);
}
/*styling luminate intro in second row*/
.luminate-intro{
    margin:auto;
    text-align: center;
    width:50%;
    margin-bottom: 100px;
}
/*Wrapping the cards and applying flex*/
.flex-card-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*center all the card to the center of the page*/
} 

/*styling the row of cards*/
.card {
    text-align: center;
    padding:20px;
    margin:50px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    position: relative;
    height:auto;
    width:400px;
}

/*Make the logo stay in a position relative to the card*/
.logo {
    width: 110px;
    position: absolute;
    top:-60px;
    left: 50%;
    transform: translateX(-50%);
}

/*Styling heading in card*/
.card h3{
    font-weight: bolder;
}

/*Styling text in card*/
.card-text{
    margin-top: 50px;
}

.description{
    text-align: center;
    color: rgb(37, 37, 37);
}
/*Styling third row in index page*/
.third-row{
    margin-top:100px;
    padding:80px;
}

/*Styling forth row in index page*/
.forth-row{
    padding:80px;
    padding-top: 0px;
    margin-bottom: 50px;
}

/*Styling gamification and responsive design image*/
.image-feature{
    max-width: 300px;
    width: 100%;
    min-width: 250px;
}
img{
    display: block;
    margin:auto;
}

/*Styling fifth row in index page*/
.fifth-row{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

/*Styling third row in index page*/
.sixth-row{
    padding:30px;
}

/*Styling about luminate banner*/
.abt-banner{
    background-color: rgba(225, 241, 255, 0.353);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
/*Styling about luminate banner content*/
.first-row-text {
    padding:20px;
}

.first-row-text h1{
    font-weight: 600;
    font-size: 50px;
    color:#0c5783;
}

/*MEDIA QUERIES to adapt to various screen sizes*/
@media (max-width: 768px){
    .luminate-intro{
        width:90%;
    }
    .card {
        width: 100%;
        margin-left:10px;
        margin-right: 10px;
    }
    .second-row{
        padding-left:10px;
        padding-right: 10px;
    }
    .title {
        text-align: center;
        font-size: 60px;
    }

    .text-message {
        text-align: center;
        font-size: 1.1em;
    }
    .banner-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .third-row{
        text-align: center;
    }
    .forth-row{
        text-align: center;
    }
    .third-row,.forth-row{
        margin-top: 40px;
        padding:15px;
    }
    .fifth-row img,.sixth-row img{
        margin-bottom: 50px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .third-row,.forth-row{
        margin-top: 40px;
        padding:15px;
    }
    .sixth-row img{
        display: block;
        margin: 0 auto;
    }
    .wrapped-about{
        width: 90%;
        padding: 10px;
    }
}

@media (max-width: 350px){
    .title {
        font-size: 50px;
    }
    .text-message {
        font-size: 1em;
    }
    .sub-title{
        font-size: 23px;
    }
    .explanation p{
        font-size:14px;
    }
    .third-row,.forth-row{
        margin-top: 40px;
        padding:15px;
    }
    .image-feature{
        max-width: 180px;
        width: 100%;
        min-width: 130px;
    }
    .wrapped-about{
        width: 100%;
        padding: 10px;
    }
}