button:focus { outline: none; }
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

button{
    outline:none;
    border:none;
    background-color: transparent;
}
.container span{
    display: inline-block;
    height: 5px;
    width: 50px;
    background: #FF3434;
    margin-bottom: 30px;
}
.scroll-div{
    height: calc(100vh - 56px);
    overflow-y: auto;
}
#my-quizzes{
    margin-top:70px;
    
}
.backdrop-img{
    height:350px;
    overflow: hidden;
    overflow-y: scroll;
}
.choose-backdrop{
    width:300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin:20px;
    border-radius:10px;
}

.container{
    background: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin:auto;
    margin-bottom: 20px;
    position: relative;
}

.text-container{
    width:70%;
    margin: 60px;
}

.add-icon-btn{
    width:200px;
    height: 150px;
    border-style: dashed;
    outline: none;
    transition: 0.3s;
    background-color: rgb(238, 238, 238);
}

.add-icon-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#remove-btn{
    position:absolute;
    bottom:20px;
    right:30px;
    padding:5px;
    height:35px;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid rgb(236, 236, 236);
}

@media screen and (min-width: 501px){
    .container{
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .sideBar {
     display: none;
    }
}

@media only screen and (min-width:250px) and (max-width:500px){
    .add-icon-btn{
    width:120px;
    height: 120px;
    }
    .text-container{
        margin: 40px;
    }
    .container{
        width:90%;
    }
    .choose-backdrop{
        width:200px;
        height: 150px;
    }
}
