@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

button:focus { outline: none; }
button{
  outline:none;
  border:none;
  background-color: transparent;
}

#my-quizzes{
  margin-top:70px;
}
.scroll-div{
  height: calc(100vh - 56px);
  overflow-y: auto;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  width:65%;
  margin:auto;
  position: relative;
}
.container{
  background: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  padding:20px;
}

.text-container{
  display:flex;
  flex:1 0 1;
  flex-direction:column;
  padding:40px;
}

.add-avatar-btn{
  width:160px;
  height: 160px;
  border-style: dashed;
  outline: none;
  transition: 0.3s;
  background-color: rgb(238, 238, 238);
  padding:0;
  border-radius: 50%;
}

.add-avatar-btn:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.avatar-wrapper{
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.avatar-img{
  height:150px;
  overflow: hidden;
  overflow-y: scroll;
  cursor: pointer;
}

.player-coin{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:80%;
  background-color: rgb(238, 238, 238);
  height: 50px;
  border-radius: 30px;
}

.player-coin img{
  width:30px;
  height:30px;
  display: block;
  margin: auto;
}

.player-coin p{
  margin: auto;
}

.avatar-img img{
  margin:5px;
}
.choose-ava{
  border-radius: 50%;
  padding: 5px;
}
.choose-ava:hover{
  background-color: indianred;
}

#edit-btn{
  position:absolute;
  bottom:20px;
  right:30px;
  padding:5px;
  height:35px;
  background-color:white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid rgb(236, 236, 236);
}

.split-information{
  margin-top:20px;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}

h2{
  font-size:38px;
}
h3{
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

#email,#edu-inst,#grade,#birthday{
  font-family: 'Open Sans', sans-serif;
  color:rgb(93, 93, 93);
  font-size:20px;
}

.email-div,.edu-div,.grade-div,.bday-div{
  width:380px;
}
.items-div{
  background: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  padding:20px;
  width:65%;
  margin:auto;
}
.items-div span{
  display: inline-block;
  height: 5px;
  width: 50px;
  background: #0c5783;
  margin-bottom: 30px;
}

@media screen and (min-width: 800px){
  .container{
      width: 100%;
      flex-direction: row;
  }
}
@media screen and (min-width: 1024px){
  .container,.items-div{
      max-width: 1200px;
  }
}
@media only screen and (min-width: 799px) and (max-width:950px){
  .text-container{
    width:100%;
    padding: 15px;
  }

}
@media only screen and (max-width: 800px) {
    .sideBar {
     display: none;
    }

    h3{
      font-size: 20;
    }
    .split-information{
      margin-top: 10px;
    }

    .text-container{
      margin-top: 30px;
      width:95%;
      padding:25px;
    }
    .main,.items-div{
      width: 75%;
    }
}

@media only screen and (min-width:250px) and (max-width:500px){
  .avatar-img{
    width:120px;
    height: 120px;
  }
  .add-avatar-btn{
    width:130px;
    height: 130px;
  }
  .text-container{
    padding:0px;
  }
  #email,#edu-inst,#grade,#birthday{
    font-family: 'Open Sans', sans-serif;
    color:rgb(93, 93, 93);
    font-size:15px;
  }
  h2{
    font-size:30px;
  }
  #edit-btn{
    position:absolute;
    bottom:10px;
    right:20px;
  }
  .main,.items-div{
    width: 90%;
  }
  .choose-ava{
    width: 100px;
  }
  .avatar-wrapper{
    height:250px;
  }
}

