.scroll-wrapper{
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.badges-section,.collectibles-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h2{
    text-align: center;
    background-color:rgb(170, 225, 229);
    width:20%; 
    margin: auto;
    margin-top: 50px; 
    padding:5px;
}
.card {
    width: 230px;
    height: 230px;
    margin: 50px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid rgb(197, 197, 197);
    box-sizing: border-box;
    cursor:pointer;
}
.coin-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width:60%;
}
.coin-div img{
    width:30px;
    height:30px;
    margin:5px;
}
.coin-div p{
    margin: auto;
}
.card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.404);
    transition: 0.2s;
}

.quiz-img{
    width:120px;
    height:120px;
    display: block;
    margin: 5px auto;
}

.text-div{
    padding:10px;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .sideBar {
     display: none;
    }
    
}