.scroll-wrapper{
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.badges-section,.collectibles-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h2{
    text-align: center;
    background-color:rgb(170, 225, 229);
    width:220px; 
    margin: auto;
    margin-top: 50px; 
    padding:10px;
}

.user-coin{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
    position: sticky;
    width: 200px;
    height:110px;
    top:0px;
    left:100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:10px;

}
.user-coin-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:90%;
}

.user-coin-div p{
    margin: auto;
    font-size:20px;
}
.user-coin-div img{
    width:40px;
    height:40px;
    margin:5px;
}
.card {
    width: 230px;
    height: 230px;
    margin: 50px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid rgb(197, 197, 197);
    box-sizing: border-box;
    cursor:pointer;
}
.coin-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width:60%;
}
.coin-div img{
    width:30px;
    height:30px;
    margin:5px;
}
.coin-div p{
    margin: auto;
}
.card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.404);
    transition: 0.2s;
}

.quiz-img{
    width:120px;
    height:120px;
    display: block;
    margin: 5px auto;
}

.text-div{
    padding:10px;
    text-align: center;
}
.fix-warning{
    position: sticky !important;
    max-width: 500px;
    width: 90%;
    margin: auto;
    bottom: 16px;
}
@media only screen and (max-width: 800px) {
    .sideBar {
     display: none;
    }
}
@media only screen and (min-width:250px) and (max-width:750px){
    h2{
        width:220px;
    }

}

@media only screen and (max-width:970px){
    h2{
        margin-top: 110px;
    }
}