button:focus { outline: none; }
.container{
    margin:auto;
    margin-top:50px;
	width: 35%;
    height: 50px;
    border-radius: 50px;
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*border:1px solid navy;*/
}
.scroll-div{
    position: relative;
    height: calc(100vh - 56px);
    overflow-y: auto;
}
button{
    background:white;
    border:none;
    outline: none;
}
/*	Selects button element where the parent is a .box class*/
.container > button {
	font-size: 20px;
	color: rgb(10, 0, 41);
}

/*	Selects input element where the parent is a .box class*/
.container > input{
	flex: 1;
	height: 40px;
	border: none;
	outline: none;
	font-size: 17px;
	padding-left: 10px;
}

/*Section of the quiz cards*/
.main-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:50px;
}

.card {
    width: 280px;
    height: 250px;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    cursor:pointer;
}

.card p{
    font-style: italic;
    color:rgb(83, 83, 83);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.404);
    transition: 0.2s;
}

.quiz-img{
    width:100%;
    height:130px;
    object-fit: cover;
    object-position: center;

}

.text-div{
    padding:15px;
}
.text-div h3{
    font-size:26px;
}

.fix-warning{
    position: sticky !important;
    max-width: 500px;
    width: 90%;
    margin: auto;
    bottom: 16px;
}
.sample-qns span{
    display: inline-block;
    height: 3px;
    width: 100px;
    background: #0c5783;
    margin-bottom: 15px;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 1077px) {
    .container{
        width:50%;
    }
    input{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .sideBar {
     display: none;
    }
    
}

@media only screen and (min-width: 250px) and (max-width:360px) {
    ::placeholder{
        font-size: small;
    }
    .container > button {
        font-size: 18px;
    }
    .container > button {
        font-size: 15px;
        color: rgb(10, 0, 41);
    }
}